<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track your spendings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1 class="heading">Trackerly</h1>
      <p>Track your spendings</p>
    </nav>

    <main class="main-container">
      <div class="form-wrapper">
        <!-- POST FORM -->
        <div class="form-1">
          <h2>what did you spend on today?</h2>

          <form class="post-form" action="/addExpense" method="POST">
            <div class="input input1">
              <input
                class="num-input"
                type="text"
                placeholder="($)Amount spent"
                name="expenseAmt"
              />
            </div>

            <div class="input input2">
              <input
                class="text-input"
                type="text"
                placeholder="Spent on"
                name="expenseType"
              />
            </div>

            <div class="btn">
              <button type="submit">Add</button>
            </div>
          </form>
        </div>

        <!-- UPDATE FORM -->
        <div class="form-2 hidden update-section">
          <h2>Edit Spend</h2>

          <form>
            <div class="input input1">
              <input
                class="update-section__amount input input1"
                type="text"
                placeholder="Update your amount spent"
              />
            </div>

            <div class="input input2">
              <input
                class="update-section__type input input2"
                type="text"
                placeholder="Update the type of item"
              />
            </div>

            <div class="btn">
              <button class="update-section__btn">Update</button>
            </div>
          </form>
        </div>
      </div>

      <!-- LOOPS THROUGH AND DISPLAYS ALL INPUTS IN A LIST -->
      <ul class="expenses">
        <li class="exp-header">Spend List</li>
        <% let total = 0 %> <% for(let i=0; i < info.length; i++) {%> <% total
        += Number(info[i].expenseAmt) %>
        <li class="expense">
          <span class="expdate"><%= info[i].entryDate %></span>
          <span class="typeexp"><%= info[i].expenseType %></span>
          <span class="amt">$<%= info[i].expenseAmt %></span>
          <input class="hidden" value="<%= info[i].id %>" />
          <span class="fa fa-edit"></span>
          <span class="fa fa-trash"></span>
        </li>
        <% } %>

        <div class="total">
          <h3 class="total-text">You have spent a total of:</h3>
          <h3 class="total-num">$<%= total %></h3>
        </div>
      </ul>
    </main>
    <script src="/main.js"></script>
  </body>
</html>
